# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/
.env
.env.*
.venv
.venv/

# Flask instance folder (often contains DB)
instance/

# Logs
logs/
*.log
*.logs

# Database files (VERY IMPORTANT - adjust extensions you use)
*.db
*.sqlite
*.sqlite3

# Node (if applicable)
node_modules/
dist/
dist-ssr/
*.local